{
  "extends": [
    "airbnb-base"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "func-names": 0,
    "prefer-spread": 0,
    "prefer-destructuring": 0
  }
}
